.btnMenu {
    -fx-background-color: linear-gradient(to right, #d4d4d4 0%, #fcfcfc 51%, #d4d4d4 100%);
    -fx-pref-width: 100px;
    -fx-pref-height: 30px;
    -fx-font-family: "Tahoma, Geneva, sans-serif";
    -fx-background-radius: 9;
    -fx-text-fill: grey;
    -fx-border-color: grey;
    -fx-border-radius: 8;
    -fx-border-width: 1;
    -fx-font-size: 15;
}

.btnMenu:hover {
    -fx-background-color: linear-gradient(to right, #fcfcfc 0%, #d4d4d4 51%, #fcfcfc 100%);
    -fx-cursor: hand;
}


.imgPlante {
-fx-background-radius: 5;
}